<nav class="navbar navbar-area navbar-expand-sm navbar-toggleable-sm bg-sunset border-bottom box-shadow">
    <div class="container">
        <span class="navbar-area-title">@ViewData["title"]</span>
    </div>
</nav>