<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="Admin" asp-page="/Index">Admin</a>
            <span class="navbar-text">Areas/Admin/Pages/Shared/_NavigationAdmin.tablet.cshtml</span>
        </div>
    </nav>
</header>