<label class="form-label">Validation States (lite)</label>
<input type="text" class="form-control is-valid is-valid-lite mb-2" placeholder="Valid State..">
<input type="text" class="form-control is-invalid is-invalid-lite" placeholder="Invalid State..">

@code {

}