<label class="form-label">Color Input</label>
<div class="row g-2">
	<div class="col-auto">
		<label class="form-colorinput">
			<input name="color-rounded" type="radio" value="dark" class="form-colorinput-input"/>
			<span class="form-colorinput-color bg-dark rounded-circle"></span>
		</label>
	</div>
	<div class="col-auto">
		<label class="form-colorinput form-colorinput-light">
			<input name="color-rounded" type="radio" value="white" class="form-colorinput-input" checked/>
			<span class="form-colorinput-color bg-white rounded-circle"></span>
		</label>
	</div>
	<div class="col-auto">
		<label class="form-colorinput">
			<input name="color-rounded" type="radio" value="blue" class="form-colorinput-input"/>
			<span class="form-colorinput-color bg-blue rounded-circle"></span>
		</label>
	</div>
	<div class="col-auto">
		<label class="form-colorinput">
			<input name="color-rounded" type="radio" value="azure" class="form-colorinput-input"/>
			<span class="form-colorinput-color bg-azure rounded-circle"></span>
		</label>
	</div>
	<div class="col-auto">
		<label class="form-colorinput">
			<input name="color-rounded" type="radio" value="indigo" class="form-colorinput-input"/>
			<span class="form-colorinput-color bg-indigo rounded-circle"></span>
		</label>
	</div>
	<div class="col-auto">
		<label class="form-colorinput">
			<input name="color-rounded" type="radio" value="purple" class="form-colorinput-input"/>
			<span class="form-colorinput-color bg-purple rounded-circle"></span>
		</label>
	</div>
	<div class="col-auto">
		<label class="form-colorinput">
			<input name="color-rounded" type="radio" value="pink" class="form-colorinput-input"/>
			<span class="form-colorinput-color bg-pink rounded-circle"></span>
		</label>
	</div>
	<div class="col-auto">
		<label class="form-colorinput">
			<input name="color-rounded" type="radio" value="red" class="form-colorinput-input"/>
			<span class="form-colorinput-color bg-red rounded-circle"></span>
		</label>
	</div>
	<div class="col-auto">
		<label class="form-colorinput">
			<input name="color-rounded" type="radio" value="orange" class="form-colorinput-input"/>
			<span class="form-colorinput-color bg-orange rounded-circle"></span>
		</label>
	</div>
	<div class="col-auto">
		<label class="form-colorinput">
			<input name="color-rounded" type="radio" value="yellow" class="form-colorinput-input"/>
			<span class="form-colorinput-color bg-yellow rounded-circle"></span>
		</label>
	</div>
	<div class="col-auto">
		<label class="form-colorinput">
			<input name="color-rounded" type="radio" value="lime" class="form-colorinput-input"/>
			<span class="form-colorinput-color bg-lime rounded-circle"></span>
		</label>
	</div>
</div>

@code {

}