<div class="mb-3">
	<label class="form-label">Datalist example</label>
	<input class="form-control" list="datalistOptions" placeholder="Type to search..."/>
	<datalist id="datalistOptions">
		<option value="Aruba"/>
		<option value="Afghanistan"/>
		<option value="Angola"/>
		<option value="Anguilla"/>
		<option value="Albania"/>
		<option value="Andorra"/>
		<option value="United Arab Emirates"/>
		<option value="Argentina"/>
		<option value="Armenia"/>
		<option value="American Samoa"/>
	</datalist>
</div>
<div class="mb-3">
	<label class="form-label">Range input</label>
	<input type="range" class="form-range mb-2" value="40" min="0" max="100" step="10">
	<div class="form-range mb-2" id="range-simple"></div>
	<div class="form-range mb-2" id="range-connect"></div>
	<div class="form-range mb-2 text-green" id="range-color"></div>
</div>
<div class="mb-3">
	<label class="form-label">Datepicker</label>
	<input class="form-control mb-2" placeholder="Select a date" id="datepicker-default" value="2020-06-20"/>
	<div class="input-icon mb-2">
		<input class="form-control " placeholder="Select a date" id="datepicker-icon" value="2020-06-20"/>
		<span class="input-icon-addon">
			<!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
			<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="5" width="16" height="16" rx="2"/><line x1="16" y1="3" x2="16" y2="7"/><line x1="8" y1="3" x2="8" y2="7"/><line x1="4" y1="11" x2="20" y2="11"/><line x1="11" y1="15" x2="12" y2="15"/><line x1="12" y1="15" x2="12" y2="18"/>
			</svg>
		</span>
	</div>
	<div class="input-icon">
		<span class="input-icon-addon">
			<!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
			<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="5" width="16" height="16" rx="2"/><line x1="16" y1="3" x2="16" y2="7"/><line x1="8" y1="3" x2="8" y2="7"/><line x1="4" y1="11" x2="20" y2="11"/><line x1="11" y1="15" x2="12" y2="15"/><line x1="12" y1="15" x2="12" y2="18"/>
			</svg>
		</span>
		<input class="form-control" placeholder="Select a date" id="datepicker-icon-prepend" value="2020-06-20"/>
	</div>
</div>
<div class="mb-3">
	<label class="form-label">Inline datepicker</label>
	<div class="datepicker-inline" id="datepicker-inline"></div>
</div>
<div class="mb-3">
	<label class="form-label">Progress</label>
	<div class="progress mb-2">
		<div class="progress-bar" style="width: 38%" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" aria-label="38% Complete">
			<span class="visually-hidden">38% Complete</span>
		</div>
	</div>
	<div class="progress">
		<div class="progress-bar progress-bar-indeterminate bg-green"></div>
	</div>
</div>
<div class="mb-3">
	<label class="form-label">Form buttons</label>
	<div class="row">
		<div class="col">
			<a href="#" class="btn btn-white w-100">
				<!-- Download SVG icon from http://tabler-icons.io/i/brand-github -->
				<svg xmlns="http://www.w3.org/2000/svg" class="icon text-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"/>
				</svg>
				Login with Github
			</a>
		</div>
		<div class="col">
			<a href="#" class="btn btn-white w-100">
				<!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
				<svg xmlns="http://www.w3.org/2000/svg" class="icon text-twitter" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"/>
				</svg>
				Login with Twitter
			</a>
		</div>
	</div>
</div>
<div class="mb-3">
	<label class="form-label">Tags input</label>
	<select type="text" class="form-select" placeholder="Select a date" id="select-tags" value="">
		<option value="HTML">HTML</option>
		<option value="JavaScript">JavaScript</option>
		<option value="CSS">CSS</option>
		<option value="jQuery">jQuery</option>
		<option value="Bootstrap">Bootstrap</option>
		<option value="Ruby">Ruby</option>
		<option value="Python">Python</option>
	</select>
</div>
<div class="mb-3">
	<label class="form-label">Advanced tags input</label>
	<select type="text" class="form-select" placeholder="Select a date" id="select-tags-advanced" value="">
		<option value="HTML">HTML</option>
		<option value="JavaScript">JavaScript</option>
		<option value="CSS">CSS</option>
		<option value="jQuery">jQuery</option>
		<option value="Bootstrap">Bootstrap</option>
		<option value="Ruby">Ruby</option>
		<option value="Python">Python</option>
	</select>
</div>
<div class="mb-3">
	<label class="form-label">Advanced select</label>
	<select type="text" class="form-select" placeholder="Select a date" id="select-users" value="">
		<option value="1">Chuck Tesla</option>
		<option value="2">Elon Musk</option>
		<option value="3">Paweł Kuna</option>
		<option value="4">Nikola Tesla</option>
	</select>
</div>
<div class="mb-3">
	<label class="form-label">Advanced select with optgroup</label>
	<select type="text" class="form-select" placeholder="Select a date" id="select-optgroups" value="">
		<optgroup label="Tags">
			<option value="HTML">HTML</option>
			<option value="JavaScript">JavaScript</option>
			<option value="CSS">CSS</option>
			<option value="jQuery">jQuery</option>
			<option value="Bootstrap">Bootstrap</option>
			<option value="Ruby">Ruby</option>
			<option value="Python">Python</option>
		</optgroup>
		<optgroup label="People">
			<option value="Chuck Tesla">Chuck Tesla</option>
			<option value="Elon Musk">Elon Musk</option>
			<option value="Paweł Kuna">Paweł Kuna</option>
			<option value="Nikola Tesla">Nikola Tesla</option>
		</optgroup>
	</select>
</div>
<div class="mb-3">
	<label class="form-label">Select with avatars</label>
	<select type="text" class="form-select" placeholder="Select a date" id="select-people" value="">
		<option value="1" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/000m.jpg)&quot;&gt;&lt;/span&gt;">Paweł Kuna</option>
		<option value="2" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot;&gt;JL&lt;/span&gt;">Jeffie Lewzey</option>
		<option value="3" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/002m.jpg)&quot;&gt;&lt;/span&gt;">Mallory Hulme</option>
		<option value="4" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/003m.jpg)&quot;&gt;&lt;/span&gt;">Dunn Slane</option>
		<option value="5" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/000f.jpg)&quot;&gt;&lt;/span&gt;">Emmy Levet</option>
		<option value="6" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/001f.jpg)&quot;&gt;&lt;/span&gt;">Maryjo Lebarree</option>
		<option value="7" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot;&gt;EP&lt;/span&gt;">Egan Poetz</option>
		<option value="8" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/002f.jpg)&quot;&gt;&lt;/span&gt;">Kellie Skingley</option>
		<option value="9" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/003f.jpg)&quot;&gt;&lt;/span&gt;">Christabel Charlwood</option>
		<option value="10" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot;&gt;HS&lt;/span&gt;">Haskel Shelper</option>
		<option value="11" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/006m.jpg)&quot;&gt;&lt;/span&gt;">Lorry Mion</option>
		<option value="12" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/004f.jpg)&quot;&gt;&lt;/span&gt;">Leesa Beaty</option>
		<option value="13" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/007m.jpg)&quot;&gt;&lt;/span&gt;">Perren Keemar</option>
		<option value="14" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot;&gt;SA&lt;/span&gt;">Sunny Airey</option>
		<option value="15" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/009m.jpg)&quot;&gt;&lt;/span&gt;">Geoffry Flaunders</option>
		<option value="16" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/010m.jpg)&quot;&gt;&lt;/span&gt;">Thatcher Keel</option>
		<option value="17" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/005f.jpg)&quot;&gt;&lt;/span&gt;">Dyann Escala</option>
		<option value="18" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/006f.jpg)&quot;&gt;&lt;/span&gt;">Avivah Mugleston</option>
		<option value="19" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot;&gt;AA&lt;/span&gt;">Arlie Armstead</option>
		<option value="20" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/008f.jpg)&quot;&gt;&lt;/span&gt;">Tessie Curzon</option>
	</select>
</div>
<div class="mb-3">
	<label class="form-label">Select with flags</label>
	<select type="text" class="form-select" id="select-countries" value="">
		<option value="pl" data-custom-properties="&lt;span class=&quot;flag flag-xs flag-country-pl&quot;&gt;&lt;/span&gt;">Poland</option>
		<option value="de" data-custom-properties="&lt;span class=&quot;flag flag-xs flag-country-de&quot;&gt;&lt;/span&gt;">Germany</option>
		<option value="cz" data-custom-properties="&lt;span class=&quot;flag flag-xs flag-country-cz&quot;&gt;&lt;/span&gt;">Czech Republic</option>
		<option value="br" data-custom-properties="&lt;span class=&quot;flag flag-xs flag-country-br&quot;&gt;&lt;/span&gt;">Brazil</option>
	</select>
</div>
<div class="mb-3">
	<label class="form-label">Select with labels</label>
	<select type="text" class="form-select" id="select-labels" value="">
		<option value="copy" data-custom-properties="&lt;span class=&quot;badge bg-blue-lt&quot;&gt;cmd + C&lt;/span&gt;">Copy</option>
		<option value="paste" data-custom-properties="&lt;span class=&quot;badge bg-blue-lt&quot;&gt;cmd + V&lt;/span&gt;">Paste</option>
		<option value="cut" data-custom-properties="&lt;span class=&quot;badge bg-blue-lt&quot;&gt;cmd + X&lt;/span&gt;">Cut</option>
	</select>
</div>
<div class="mb-3">
	<label class="form-label">Advanced select with validation state</label>
	<select type="text" class="form-select mb-3 is-valid" id="select-countries-valid" value="">
		<option value="pl">Poland</option>
		<option value="de">Germany</option>
		<option value="cz">Czech Republic</option>
		<option value="br">Brazil</option>
	</select>
	<select type="text" class="form-select is-invalid" id="select-countries-invalid" value="">
		<option value="pl">Poland</option>
		<option value="de">Germany</option>
		<option value="cz">Czech Republic</option>
		<option value="br">Brazil</option>
	</select>
</div>

@code {

}