<div class="mb-3">
	<label class="form-label">Form control rounded</label>
	<input type="text" class="form-control form-control-rounded mb-2" name="Form control rounded" placeholder="Text..">
	<div class="input-icon">
		<input type="text" value="" class="form-control form-control-rounded" placeholder="Search…">
		<span class="input-icon-addon">
			<!-- Download SVG icon from http://tabler-icons.io/i/search -->
			<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
				<circle cx="10" cy="10" r="7"/>
				<line x1="21" y1="21" x2="15" y2="15"/>
			</svg>
		</span>
	</div>
</div>
<div class="mb-3">
	<label class="form-label">Form control flush</label>
	<input type="text" class="form-control form-control-flush" name="Form control flush" placeholder="Text..">
</div>
<div class="mb-3">
	<label class="form-label">Input group</label>
	<div class="input-group mb-2">
		<span class="input-group-text">@@</span>
		<input type="text" class="form-control" placeholder="username" autocomplete="off">
	</div>
	<div class="input-group mb-2">
		<input type="text" class="form-control" placeholder="subdomain" autocomplete="off">
		<span class="input-group-text">.tabler.io</span>
	</div>
	<div class="input-group">
		<span class="input-group-text">https://</span>
		<input type="text" class="form-control" placeholder="subdomain" autocomplete="off">
		<span class="input-group-text">.tabler.io</span>
	</div>
</div>
<div class="mb-3">
	<label class="form-label">Input with checkbox or radios</label>
	<div class="input-group mb-2">
		<span class="input-group-text">
			<input class="form-check-input m-0" type="checkbox" checked>
		</span>
		<input type="text" class="form-control" autocomplete="off">
	</div>
	<div class="input-group">
		<input type="text" class="form-control" autocomplete="off">
		<span class="input-group-text">
			<input class="form-check-input m-0" type="radio" checked>
		</span>
	</div>
</div>
<div class="mb-3">
	<label class="form-label">Input with prepended text</label>
	<div class="input-group input-group-flat">
		<span class="input-group-text">
			https://tabler.io/users/
		</span>
		<input type="text" class="form-control ps-0" value="yourfancyusername" autocomplete="off">
	</div>
</div>
<div class="mb-3">
	<label class="form-label">Input with appended text</label>
	<div class="input-group input-group-flat">
		<input type="text" class="form-control text-end pe-0" value="yourfancydomain" autocomplete="off">
		<span class="input-group-text">
			.tabler.io
		</span>
	</div>
</div>
<div class="mb-3">
	<label class="form-label">Input with appended link</label>
	<div class="input-group input-group-flat">
		<input type="password" class="form-control" value="ultrastrongpassword" autocomplete="off">
		<span class="input-group-text">
			<a href="#" class="input-group-link">Show password</a>
		</span>
	</div>
</div>
<div class="mb-3">
	<label class="form-label">Input with appended icon links</label>
	<div class="input-group input-group-flat">
		<input type="text" class="form-control" autocomplete="off">
		<span class="input-group-text">
			<a href="#" class="link-secondary" title="Clear search" data-bs-toggle="tooltip">
				<!-- Download SVG icon from http://tabler-icons.io/i/x -->
				<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/>
				</svg>
			</a>
			<a href="#" class="link-secondary ms-2" title="Search settings" data-bs-toggle="tooltip">
				<!-- Download SVG icon from http://tabler-icons.io/i/adjustments -->
				<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="6" cy="10" r="2"/><line x1="6" y1="4" x2="6" y2="8"/><line x1="6" y1="12" x2="6" y2="20"/><circle cx="12" cy="16" r="2"/><line x1="12" y1="4" x2="12" y2="14"/><line x1="12" y1="18" x2="12" y2="20"/><circle cx="18" cy="7" r="2"/><line x1="18" y1="4" x2="18" y2="5"/><line x1="18" y1="9" x2="18" y2="20"/>
				</svg>
			</a>
			<a href="#" class="link-secondary ms-2 disabled" title="Add notification" data-bs-toggle="tooltip">
				<!-- Download SVG icon from http://tabler-icons.io/i/bell -->
				<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"/><path d="M9 17v1a3 3 0 0 0 6 0v-1"/>
				</svg>
			</a>
		</span>
	</div>
</div>
<div class="mb-3">
	<label class="form-label">Floating inputs</label>
	<div class="form-floating mb-3">
		<input type="email" class="form-control" id="floating-input" value="name@example.com" autocomplete="off">
		<label for="floating-input">Email address</label>
	</div>
	<div class="form-floating mb-3">
		<input type="password" class="form-control" id="floating-password" value="Password" autocomplete="off">
		<label for="floating-password">Password</label>
	</div>
	<div class="form-floating">
		<select class="form-select" id="floatingSelect" aria-label="Floating label select example">
			<option selected>Open this select menu</option>
			<option value="1">One</option>
			<option value="2">Two</option>
			<option value="3">Three</option>
		</select>
		<label for="floatingSelect">Select</label>
	</div>
</div>

@code {

}