@page "/Form"

<div class="container-xl">
	<!-- Wangkanai.Responsive.WebmasterPage title -->
	<div class="page-header d-print-none">
		<div class="row g-2 align-items-center">
			<div class="col">
				<h2 class="page-title">
					Form elements
				</h2>
			</div>
		</div>
	</div>
</div>
<div class="page-body">
	<div class="container-xl">
		<div class="row row-cards">
			<div class="col-12">
				<FormPost/>
			</div>
			<div class="col-md-6">
				<FormProject/>
			</div>
			<div class="col-md-6">
				<FormNode/>
			</div>
			<div class="col-md-6">
				<FormBasic/>
			</div>
			<div class="col-md-6">
				<FormHorizontal/>
			</div>
		</div>
	</div>
</div>

@code {

}