<a class="nav-link dropdown-toggle @ShowCssClass" href="#" @onclick="OnToggle" @onfocusout="OnToggle" role="button" aria-expanded="@NavDropdown">
  <span class="nav-link-icon d-md-none d-lg-inline-block">
    <!-- Download SVG icon from http://tabler-icons.io/i/lifebuoy -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="4"/><circle cx="12" cy="12" r="9"/><line x1="15" y1="15" x2="18.35" y2="18.35"/><line x1="9" y1="15" x2="5.65" y2="18.35"/><line x1="5.65" y1="5.65" x2="9" y2="9"/><line x1="18.35" y1="5.65" x2="15" y2="9"/></svg>
  </span>
  <span class="nav-link-title">
    Help
  </span>
</a>
<div class="dropdown-menu @ShowCssClass" @onpointerout="OnToggle" data-bs-popper="@DataBsPopper">
  <NavLink class="dropdown-item" href="/Docs">
    Documentation
  </NavLink>
  <NavLink class="dropdown-item" href="/Changelog">
    Changelog
  </NavLink>
  <a class="dropdown-item" href="https://github.com/wangkanai/wangkanai/tree/main/Tabler" target="_blank" rel="noopener">
    Source code
  </a>
  <a class="dropdown-item text-pink" href="https://opencollective.com/wangkanai" target="_blank" rel="noopener">
    <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"/></svg>
    Sponsor project!
  </a>
</div>

@code {
  private bool NavDropdown { get; set; } = false;
  private string ShowCssClass => NavDropdown ? "show" : "";
  private string DataBsPopper => NavDropdown ? "static" : "";

  private void OnToggle()
  {
    NavDropdown = !NavDropdown;
  }

}