@model Wangkanai.Detection.PlatformResolver

@{
    ViewData["Title"] = "Browser";
}

<h4>UserAgent</h4>
<code>@Model.UserAgent</code>

<h4>Platform</h4>
<table>
    <tr>
        <th>PlatformType</th>
        <td>@Model.Platform.ToString()</td>
    </tr>
</table>
