root=true

[*]
charset                                                               =utf-8
indent_style                                                          =tab
indent_size                                                           =4
tab_width                                                             =4
end_of_line                                                           =crlf
trim_trailing_whitespace                                              =true
insert_final_newline                                                  =true

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers                 =false
csharp_preferred_modifier_order                                       =public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_preserve_single_line_blocks                                    =true
csharp_style_var_elsewhere                                            =true:suggestion
csharp_style_var_for_built_in_types                                   =true:suggestion
csharp_style_var_when_type_is_apparent                                =true:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators               =never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators                    =never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators               =never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members            =true:suggestion
dotnet_style_predefined_type_for_member_access                        =true:suggestion
dotnet_style_qualification_for_event                                  =false:suggestion
dotnet_style_qualification_for_field                                  =false:suggestion
dotnet_style_qualification_for_method                                 =false:suggestion
dotnet_style_qualification_for_property                               =false:suggestion
dotnet_style_require_accessibility_modifiers                          =for_non_interface_members:suggestion

# ReSharper properties
resharper_csharp_empty_block_style                                    =together_same_line
resharper_csharp_wrap_before_first_type_parameter_constraint          =true
resharper_csharp_anonymous_method_declaration_braces                  =end_of_line
resharper_csharp_brace_style                                          =next_line
resharper_csharp_braces_for_ifelse                                    =required_for_multiline
resharper_no_indent_inside_elements                                   =html, thead, tbody, tfoot
resharper_autodetect_indent_settings                                  =true
resharper_enforce_line_ending_style                                   =true
resharper_int_align_assignments                                       =true
resharper_int_align_comments                                          =true
resharper_int_align_fields                                            =true
resharper_int_align_methods                                           =true
resharper_int_align_nested_ternary                                    =true
resharper_int_align_parameters                                        =true
resharper_int_align_properties                                        =true
resharper_int_align_switch_expressions                                =true
resharper_int_align_switch_sections                                   =true
resharper_int_align_variables                                         =true
resharper_keep_existing_attribute_arrangement                         =true
resharper_keep_existing_embedded_block_arrangement                    =false
resharper_keep_existing_enum_arrangement                              =true
resharper_place_attribute_on_same_line                                =if_owner_is_single_line
resharper_space_before_trailing_comment                               =true
resharper_use_indent_from_vs                                          =false
resharper_wrap_array_initializer_style                                =chop_if_long
resharper_wrap_before_arrow_with_expressions                          =true
resharper_wrap_chained_method_calls                                   =chop_if_long
resharper_wrap_enum_declaration                                       =chop_if_long
resharper_wrap_multiple_type_parameter_constraints_style              =wrap_if_long
resharper_align_multiple_declaration                                  =true
resharper_align_multiline_calls_chain                                 =true
resharper_align_multiline_expression                                  =true
resharper_align_multline_type_parameter_constrains                    =true
resharper_align_multiline_array_and_object_initializer                =true
resharper_enforce_line_ending_style                                   =true
resharper_csharp_max_line_length                                      =500

resharper_xmldoc_linebreak_before_singleline_elements                 =false
resharper_xmldoc_space_before_self_closing                            =false
resharper_xmldoc_space_after_last_attribute                           =false
resharper_xmldoc_alignment_tab_fill_style                             =optimal_fill
resharper_xmldoc_attribute_indent                                     =align_by_first_attribute
resharper_xmldoc_attribute_style                                      =on_single_line
resharper_xmldoc_blank_line_after_pi                                  =false
resharper_xmldoc_indent_text                                          =ZeroIndent
resharper_xmldoc_pi_attribute_style                                   =on_single_line

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting                  =hint
resharper_arrange_this_qualifier_highlighting                         =hint
resharper_arrange_type_member_modifiers_highlighting                  =hint
resharper_arrange_type_modifiers_highlighting                         =hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting                  =hint
resharper_check_namespace_highlighting                                =hint
resharper_redundant_base_qualifier_highlighting                       =warning
resharper_suggest_var_or_type_built_in_types_highlighting             =hint
resharper_suggest_var_or_type_elsewhere_highlighting                  =hint
resharper_suggest_var_or_type_simple_types_highlighting               =hint
resharper_web_config_module_not_resolved_highlighting                 =warning
resharper_web_config_type_not_resolved_highlighting                   =warning
resharper_web_config_wrong_module_highlighting                        =warning
resharper_convert_to_constant_local_highlighting                      =none

# Code style settings
[.editorconfig]
ij_editorconfig_align_group_field_declarations    =true
ij_editorconfig_spaces_around_assignment_operators=false
ij_editorconfig_space_after_colon                 =false
ij_editorconfig_space_after_comma                 =true
ij_editorconfig_space_before_colon                =false
ij_editorconfig_space_before_comma                =false

# Ignore formatter for generated files
[{**/node_modules/*,**/lib/*,**/Migrations/*}]
generated_code      =true
ij_formatter_enabled=false

[*.cs]
dotnet_sort_system_directives_first                          =true
dotnet_separate_import_directive_groups                      =true
resharper_sort_system_directives_first                       =true
ij_any_align_multiline_array_initializer_expression          =true
resharper_csharp_space_before_trailing_comment               =true
resharper_csharp_place_simple_property_pattern_on_single_line=true
resharper_csharp_place_property_on_single_line               =always
resharper_place_expr_property_on_single_line                 =always

[*.{cs, cpp, h}]
file_header_template=Copyright (c) 2014-2025 Sarin Na Wangkanai, All Rights Reserved.

[*.{html,cshtml,razor}]
indent_size                                                           =3
max_line_length                                                       =1000
resharper_no_indent_inside_elements                                   =html, thead, tbody, tfoot
resharper_no_indent_inside_if_element_longer_than                     =1000
resharper_normalize_tag_names                                         =true
resharper_html_allow_far_alignment                                    =true
resharper_html_attribute_indent                                       =single_indent
resharper_html_attribute_style                                        =on_single_line
resharper_html_linebreak_before_elements                              =body, div, p, main, section, article, form, h1, h2, h3, svg, path
resharper_html_linebreak_before_multiline_elements                    =false
resharper_html_linebreaks_inside_tags_for_elements_with_child_elements=false
resharper_html_linebreaks_inside_tags_for_multiline_elements          =false
ij_html_do_not_align_children_of_min_lines                            =0
ij_html_do_not_break_if_inline_tags                                   =title, h1, h2, h3, h4, h5, h6, p, li, span
ij_html_do_not_indent_children_of_tags                                =form, ol, script, style, h1, h2, h3, h4, h5, h6, table, thead, tbody, tfoot

[*.csproj]
indent_size                  =2
ij_xml_space_inside_empty_tag=true

[*.{props, targets}]
indent_size                  =2
max_line_length              =200
ij_xml_space_inside_empty_tag=true

[*.{ps1, psd1}]
indent_size                                     =4
case_style                                      =pascal_case
ij_powershell_spaces_around_assignment_operators=false
ij_powershell_space_after_type_cast             =false
ij_powershell_align_multiline_binary_operation  =true
ij_powershell_align_multiline_chained_methods   =true

[*.{cs, cpp, h, ps1, psd1}]
indent_style=tab

[*.{css, scss, less, sass}]
indent_size           =2
ij_css_value_alignment=on_value

[*.{js, js.map}]
indent_size=2

[*.xml]
max_line_length=200

[*.{yml, yaml}]
indent_size=2

[*.{eslintrc, stylelintrc, jest.config, babelrc, bowerrc, jsb3, jsb2, json}]
indent_size                   =4
resharper_sort_members_by_kind=true

