init:
  - git config --global core.autocrlf true
branches:
  only:
    - master
    - release
    - dev
    - /^(.*\/)?ci-.*$/
version: 1.0.{build}
build_script:
  - build.cmd --quiet verify
artifacts:
  - path: 'artifacts\build\**\*.nupkg'

clone_depth: 1
test: off
deploy: off