<div class="card">
  <div class="card-header">
    <h3 class="card-title">Most Visited Wangkanai.Responsive.WebmasterPages</h3>
  </div>
  <div class="card-table table-responsive">
    <table class="table table-vcenter">
      <thead>
        <tr>
          <th>Wangkanai.Responsive.WebmasterPage name</th>
          <th>Visitors</th>
          <th>Unique</th>
          <th colspan="2">Bounce rate</th>
        </tr>
      </thead>
      <tr>
        <td>
          /about.html
          <a href="#" class="ms-1" aria-label="Open website">
            <!-- Download SVG icon from http://tabler-icons.io/i/link -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"/><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"/>
            </svg>
          </a>
        </td>
        <td class="text-muted">4,896</td>
        <td class="text-muted">3,654</td>
        <td class="text-muted">82.54%</td>
        <td class="text-end w-1">
          <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-1"></div>
        </td>
      </tr>
      <tr>
        <td>
          /special-promo.html
          <a href="#" class="ms-1" aria-label="Open website">
            <!-- Download SVG icon from http://tabler-icons.io/i/link -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"/><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"/>
            </svg>
          </a>
        </td>
        <td class="text-muted">3,652</td>
        <td class="text-muted">3,215</td>
        <td class="text-muted">76.29%</td>
        <td class="text-end w-1">
          <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-2"></div>
        </td>
      </tr>
      <tr>
        <td>
          /news/1,new-ui-kit.html
          <a href="#" class="ms-1" aria-label="Open website">
            <!-- Download SVG icon from http://tabler-icons.io/i/link -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"/><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"/>
            </svg>
          </a>
        </td>
        <td class="text-muted">3,256</td>
        <td class="text-muted">2,865</td>
        <td class="text-muted">72.65%</td>
        <td class="text-end w-1">
          <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-3"></div>
        </td>
      </tr>
      <tr>
        <td>
          /lorem-ipsum-dolor-sit-amet-very-long-url.html
          <a href="#" class="ms-1" aria-label="Open website">
            <!-- Download SVG icon from http://tabler-icons.io/i/link -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"/><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"/>
            </svg>
          </a>
        </td>
        <td class="text-muted">986</td>
        <td class="text-muted">865</td>
        <td class="text-muted">44.89%</td>
        <td class="text-end w-1">
          <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-4"></div>
        </td>
      </tr>
      <tr>
        <td>
          /colors.html
          <a href="#" class="ms-1" aria-label="Open website">
            <!-- Download SVG icon from http://tabler-icons.io/i/link -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"/><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"/>
            </svg>
          </a>
        </td>
        <td class="text-muted">912</td>
        <td class="text-muted">822</td>
        <td class="text-muted">41.12%</td>
        <td class="text-end w-1">
          <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-5"></div>
        </td>
      </tr>
      <tr>
        <td>
          /docs/index.html
          <a href="#" class="ms-1" aria-label="Open website">
            <!-- Download SVG icon from http://tabler-icons.io/i/link -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"/><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"/>
            </svg>
          </a>
        </td>
        <td class="text-muted">855</td>
        <td class="text-muted">798</td>
        <td class="text-muted">32.65%</td>
        <td class="text-end w-1">
          <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-6"></div>
        </td>
      </tr>
    </table>
  </div>
</div>

@code {

}