<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sandbox</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h3>ASP.NET Core Browser</h3>
        @RenderBody()
        <footer>
            © 2018 <a href="https://github.com/wangkanai/detection">Sarin Na Wangkanai</a>
        </footer>
    </div>
</body>
</html>
