<footer class="border-top footer text-muted">
    <div class="container">
        <div class="col-sm">&copy; 2023 - Wangkanai Responsive - <a asp-area="" asp-page="/Privacy">Privacy</a></div>
        <div class="col-sm text-sm-right text-dark">/Shared/_Footer.cshtml</div>
    </div>
</footer>