<footer class="footer text-muted">
    <div class="container">
        <div class="col-sm mb-3">&copy; 2023 - Wangkanai - <a asp-area="" asp-page="/Privacy">Privacy</a></div>
        <div class="alert alert-primary">/Shared/_Footer.mobile.cshtml</div>
    </div>
</footer>