<ul class="navbar-nav ms-auto">
	<li class="nav-item"><NavLink class="nav-link" href="/Blog">Blog</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/Development">Development</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/Font">Fonts</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/Engineering">Engineering</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/Architecture">Architecture</NavLink></li>
	<li class="nav-item"><NavLink class="nav-link" href="/About">About</NavLink></li>
</ul>

@code {

}
