<footer class="border-top footer text-muted pt-3">
	<div class="container-lg">
		&copy; 2008-2024 - Wangkanai - <NavLink href="/Terms">Terms</NavLink> | <NavLink href="/Privacy">Privacy Policy</NavLink>
	</div>
</footer>

@code {

}
