<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    <p>Views/Shared/Mobile/_Layout.cshtml</p>
    @RenderBody()
</div>
    <footer>&copy; Copyrights, all rights reserved. Sarin Na Wangkanai</footer>
</body>
</html>
