
<p>Views/Home/Index.cshtml</p>

<device include="mobile">mobile only</device>
<device exclude="mobile">not mobile</device>

<device include="mobile">index working
<a asp-controller="Responsive" asp-action="Desktop" asp-route-returnurl="">Desktop Version</a>
</device>