<preference only="mobile">
    <a href="/Detection/Preference/Clear">
        <div class="alert alert-light" role="alert">
            Switch to mobile version
        </div>
    </a>
</preference>

<p>Views/Home/Index.cshtml</p>

<section id="device">
    <h3>device</h3>
    <h5>desktop</h5>
    <device include="desktop">is desktop</device>
    <device exclude="desktop">not desktop</device>
    <h5>tablet</h5>
    <device include="tablet">is tablet</device>
    <device exclude="tablet">not tablet</device>
    <h4>mobile</h4>
    <device include="mobile">is mobile</device>
    <device exclude="mobile">not mobile</device>
</section>

<section id="browser">
    <h3>browser</h3>
    <h5>google chrome</h5>
    <browser include="chrome">is chrome</browser>
    <browser exclude="chrome">not chrome</browser>
    <h5>microsoft edge</h5>
    <browser include="edge">is edge</browser>
    <browser exclude="edge">not edge</browser>
</section>

<section id="platform">
    <h3>platform</h3>
    <h5>microsoft windows</h5>
    <platform include="windows">is windows</platform>
    <platform exclude="windows">not windows</platform>
    <h5>apple ios</h5>
    <platform include="ios">is ios</platform>
    <platform exclude="ios">not ios</platform>
</section>

<section id="engine">
    <h3>engine</h3>
    <h5>blink</h5>
    <platform include="blink">is blink</platform>
    <platform exclude="blink">not blink</platform>
    <h5>webkit</h5>
    <platform include="webkit">is webkit</platform>
    <platform exclude="webkit">not webkit</platform>
</section>