<preference only="mobile">
    <a asp-area="Detection" asp-controller="Preference" asp-action="Clear">
        <div class="alert alert-light" role="alert">
            Switch to mobile version
        </div>
    </a>
</preference>

<p>Views/Home/Index.cshtml</p>

<div class="taghelper">
    <h4>desktop</h4>
    <device include="desktop">is desktop</device>
    <device exclude="desktop">not desktop</device>
    <h4>tablet</h4>
    <device include="tablet">is tablet</device>
    <device exclude="tablet">not tablet</device>
    <h4>mobile</h4>
    <device include="mobile">is mobile</device>
    <device exclude="mobile">not mobile</device>
    <browser/>
</div>