@page
@model Wangkanai.Detection.UI.Areas.Detection.Pages.Clear

@{
    ViewData["Title"] = "Clear Prefer View";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewData["Title"]</title>
</head>
<body>
<h1>@ViewData["Title"]</h1>
</body>
</html>