@inject IWebHostEnvironment Environment
@page
@using Microsoft.AspNetCore.Hosting
@model Wangkanai.Detection.UI.Areas.Detection.Pages.Prefer

@{
    ViewData["Title"] = "Set Preference";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @Environment.ApplicationName</title>
</head>
<body>
<h1>@ViewData["Title"]</h1>
</body>
</html>