<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sandbox</title>
</head>
<body>
<div>
    <h4>ASP.NET Core Browser</h4>
    @RenderBody()
    <hr/>
    <footer>
        (c) 2016 Copyright, <a href="https://github.com/wangkanai/Browser">Sarin Na Wangkanai</a>
    </footer>
</div>
</body>
</html>
