@{
    Layout = "_Layout";
}
<nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="Admin" asp-page="/Index">Admin</a>
        <span class="navbar-text">Areas/Admin/Views/Shared/_AdminLayout.mobile.cshtml</span>
    </div>
</nav>
@RenderBody()