@model Wangkanai.Browser.IClientService

@{
    ViewData["Title"] = "Browser";
}

<table border="1" cellpadding="5px">
    <tr>
        <td>device</td>
        <td>@Model.Device.Type.ToString()</td>
    </tr>
    <tr>
        <td>user-agent</td>
        <td>@Model.UserAgent.ToString()</td>
    </tr>
</table>