@model Wangkanai.Browser.Abstractions.IBrowserService

@{
    ViewData["Title"] = "Browser";
}

<table border="1" cellpadding="5px">
    <tr>
        <td>device</td>
        <td>@Model.Device()</td>
    </tr>
    <tr>
        <td>user-agent</td>
        <td>@Model.UserAgent()</td>
    </tr>
</table>