@attribute [RenderModeAuto]
<div class="nav-item dropdown d-none d-md-flex me-3">
	<a class="nav-link px-0 @Show" @onclick="ToggleNotification" @attributes="AriaExpanded" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
		<!-- Download SVG icon from http://tabler-icons.io/i/bell -->
		<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"/><path d="M9 17v1a3 3 0 0 0 6 0v-1"/>
		</svg>
		<span class="badge bg-red"></span>
	</a>
	<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card @Show" @attributes="AriaPopper">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Last updates</h3>
			</div>
			<div class="list-group list-group-flush list-group-hoverable">
				<div class="list-group-item">
					<div class="row align-items-center">
						<div class="col-auto">
							<span class="status-dot status-dot-animated bg-red d-block"></span>
						</div>
						<div class="col text-truncate">
							<a href="#" class="text-body d-block">Example 1</a>
							<div class="d-block text-muted text-truncate mt-n1">
								Change deprecated html tags to text decoration classes (#29604)
							</div>
						</div>
						<div class="col-auto">
							<a href="#" class="list-group-item-actions">
								<!-- Download SVG icon from http://tabler-icons.io/i/star -->
								<svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="list-group-item">
					<div class="row align-items-center">
						<div class="col-auto">
							<span class="status-dot d-block"></span>
						</div>
						<div class="col text-truncate">
							<a href="#" class="text-body d-block">Example 2</a>
							<div class="d-block text-muted text-truncate mt-n1">
								justify-content:between ⇒ justify-content:space-between (#29734)
							</div>
						</div>
						<div class="col-auto">
							<a href="#" class="list-group-item-actions show">
								<!-- Download SVG icon from http://tabler-icons.io/i/star -->
								<svg xmlns="http://www.w3.org/2000/svg" class="icon text-yellow" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="list-group-item">
					<div class="row align-items-center">
						<div class="col-auto">
							<span class="status-dot d-block"></span>
						</div>
						<div class="col text-truncate">
							<a href="#" class="text-body d-block">Example 3</a>
							<div class="d-block text-muted text-truncate mt-n1">
								Update change-version.js (#29736)
							</div>
						</div>
						<div class="col-auto">
							<a href="#" class="list-group-item-actions">
								<!-- Download SVG icon from http://tabler-icons.io/i/star -->
								<svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="list-group-item">
					<div class="row align-items-center">
						<div class="col-auto">
							<span class="status-dot status-dot-animated bg-green d-block"></span>
						</div>
						<div class="col text-truncate">
							<a href="#" class="text-body d-block">Example 4</a>
							<div class="d-block text-muted text-truncate mt-n1">
								Regenerate package-lock.json (#29730)
							</div>
						</div>
						<div class="col-auto">
							<a href="#" class="list-group-item-actions">
								<!-- Download SVG icon from http://tabler-icons.io/i/star -->
								<svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	private bool _show = false;

	private string? Show => _show ? "show" : null;
	private Dictionary<string, object>? AriaPopper => _show ? new() { { "aria-popper", "true" } } : null;
	private Dictionary<string, object>? AriaExpanded => _show ? new() { { "aria-expanded", "true" } } : null;

	void ToggleNotification()
	{
		_show = !_show;
		Console.Write("Show: " + _show + "\n");
	}

}