<form action="https://httpbin.org/post" method="post" class="card">
  <div class="card-header">
    <h4 class="card-title">Form elements</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-4">
        <div class="row">
          <div class="col-md-6 col-xl-12">
            <FormPostElementLeft/>
          </div>
          <div class="col-md-6 col-xl-12">
            <FormPostElementRight/>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="row">
          <div class="col-md-6 col-xl-12">
            <div class="mb-3">
              <FormPostCheckboxImage/>
            </div>
            <div class="mb-3">
              <FormPostCheckboxColorSquare/>
            </div>
            <div class="mb-3">
              <FormPostCheckboxColorCircle/>
            </div>
            <div class="mb-3">
              <FormPostColorPicker/>
            </div>
            <div class="mb-3">
              <FormPostValidationState/>
            </div>
            <div class="mb-3">
              <FormPostValidationLite/>
            </div>
            <FormPostFieldset/>
          </div>
          <div class="col-md-6 col-xl-12">
            <FormPostSelectgroup/>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="row">
          <div class="col-md-6 col-xl-12">
            <FormPostControlLeft/>
          </div>
          <div class="col-md-6 col-xl-12">
            <FormPostControlRight/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-end">
    <div class="d-flex">
      <a href="#" class="btn btn-link">Cancel</a>
      <button type="submit" class="btn btn-primary ms-auto">Send data</button>
    </div>
  </div>
</form>

@code {

}