<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Admin</a>
            <span class="navbar-text">Areas/Admin/Views/Shared/_NavigationAdmin.tablet.cshtml</span>
        </div>
    </nav>
</header>