@{
    Layout = "_LayoutMain";
}
<partial name="_NavigationAdmin"/>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
        <div class="alert alert-warning">Areas/Admin/ResponsiveWebs/Shared/_LayoutAdmin.mobile.chhtml</div>
    </main>
</div>