<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row">
            <div class="col-sm">&copy; 2020 - Responsive Web</div>
            <div class="col-sm text-sm-right text-dark">ResponsiveWebs/Shared/_Footer.cshtml</div>
        </div>
    </div>
</footer>