@{
    Layout = "_LayoutMain";
}
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
        <div class="alert alert-info">ResponsiveWebs/Shared/_Layout.mobile.chhtml</div>
    </main>
</div>