<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="AnalyticConfigurationSettings">
            <section name="AnalyticConfiguration" type="Analytics.Configuration, Analytics" allowLocation="true"
                     allowDefinition="MachineToApplication" />
        </sectionGroup>
    </configSections>
    <AnalyticConfigurationSettings>
        <AnalyticConfiguration account="UA-XXXX-Y" property="sathorn.co.th" />
    </AnalyticConfigurationSettings>
</configuration>