<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<base href="/"/>
	<link href="lib/tabler/dist/css/tabler.min.css" rel="stylesheet"/>
	<link href="lib/tabler/dist/css/tabler-flags.min.css" rel="stylesheet"/>
	<link href="lib/tabler/dist/css/tabler-payments.min.css" rel="stylesheet"/>
	<link href="lib/tabler/dist/css/tabler-vendors.min.css" rel="stylesheet"/>
	<link href="lib/tabler/dist/css/demo.min.css" rel="stylesheet"/>
	<link href="lib/icons/iconfont/tabler-icons.css" rel="stylesheet"/>
	<link rel="stylesheet" href="app.css"/>
	<link rel="stylesheet" href="Host.Main.styles.css"/>
	<link rel="icon" type="image/ico" href="favicon.ico"/>
	<HeadOutlet/>
	@* <HeadOutlet @rendermode="@RenderMode.Auto"/> *@
</head>

<body data-bs-theme="@Theme.Theme">
	<Routes/>
	@* <Routes @rendermode="@RenderMode.Auto"/> *@
	<script src="_framework/blazor.web.js"></script>
</body>

</html>

@code
{
	[CascadingParameter]
	public ThemeService? Theme { get; set; }
}