	<header class="navbar navbar-expand-md d-print-none">
		<div class="container-xl">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
				<NavLink href="/">
					<img src="./static/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
				</NavLink>
			</h1>
			<div class="navbar-nav flex-row order-md-last">
				<div class="nav-item d-none d-md-flex me-3">
					<div class="btn-list">
						<HeaderList/>
					</div>
				</div>
				<div class="d-none d-md-flex">
					<HeaderTheme/>
					<HeaderNotification/>
				</div>
				<HeaderProfile/>
			</div>
		</div>
	</header>


@code{


}