<a class="nav-link dropdown-toggle @ShowCssClass" href="#" @onclick="OnToggle" @onfocusout="OnToggle" role="button" aria-expanded="@NavDropdown">
	<span class="nav-link-icon d-md-none d-lg-inline-block">
		<!-- Download SVG icon from http://tabler-icons.io/i/star -->
		<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"/>
		</svg>
	</span>
	<span class="nav-link-title">
		Extra
	</span>
</a>
<div class="dropdown-menu @ShowCssClass" @onpointerout="OnToggle" data-bs-popper="@DataBsPopper">
	<div class="dropdown-menu-columns">
		<div class="dropdown-menu-column">
			<a class="dropdown-item" href="./activity.html">
				Activity
			</a>
			<a class="dropdown-item" href="./gallery.html">
				Gallery
			</a>
			<a class="dropdown-item" href="./invoice.html">
				Invoice
			</a>
			<a class="dropdown-item" href="./search-results.html">
				Search results
			</a>
			<a class="dropdown-item" href="./pricing.html">
				Pricing cards
			</a>
			<a class="dropdown-item" href="./pricing-table.html">
				Pricing table
			</a>
			<a class="dropdown-item" href="./faq.html">
				FAQ
				<span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
			</a>
			<a class="dropdown-item" href="./users.html">
				Users
			</a>
		</div>
		<div class="dropdown-menu-column">
			<a class="dropdown-item" href="./license.html">
				License
			</a>
			<a class="dropdown-item" href="./music.html">
				Music
			</a>
			<a class="dropdown-item" href="./tasks.html">
				Tasks
				<span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
			</a>
			<a class="dropdown-item" href="./uptime.html">
				Uptime monitor
			</a>
			<a class="dropdown-item" href="./widgets.html">
				Widgets
			</a>
			<a class="dropdown-item" href="./wizard.html">
				Wizard
			</a>
			<a class="dropdown-item" href="./settings.html">
				Settings
				<span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
			</a>
		</div>
	</div>
</div>

@code {
	private bool NavDropdown { get; set; } = false;
	private string ShowCssClass => NavDropdown ? "show" : "";
	private string DataBsPopper => NavDropdown ? "static" : "";

	private void OnToggle()
	{
		NavDropdown = !NavDropdown;
	}

}