<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<base href="/"/>
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="lib/bootstrap-icons/font/bootstrap-icons.min.css"/>
	<link rel="stylesheet" href="dist/wangkanai.css"/>
	<link rel="stylesheet" href="Wangkanai.Web.styles.css"/>
	<HeadOutlet @rendermode="@InteractiveAuto"/>
</head>

<body>
	<Routes @rendermode="@InteractiveAuto"/>
	<script src="_framework/blazor.web.js"></script>
</body>

</html>
