@page
@model IndexModel
@{
    ViewData["Title"] = "Responsive";
}

<p>
    A powerful ASP.NET Core middleware library that dynamically tailors your application's view to the requesting client device.
    It's not just about resizing and rearranging elements - it's about creating unique, device-specific experiences that engage users.
</p>

<div class="alert alert-info">/Pages/Index.tablet.cshtml</div>