[data-bs-theme=dark] {
    --bs-body-bg:        #{$body-bg-dark} !important;
    --bs-body-color:     #{$body-color-dark} !important;
    --bs-border-color:   #{$border-color} !important;
    --bs-emphasis-color: #e1e0e0 !important;
}