.navbar {
    --bs-navbar-color:       var(--bs-emphasis-color);
    --bs-navbar-brand-color: var(--bs-emphasis-color);

    --bs-area-title-color:   #{$area-title-color};
    --bs-area-font-size:     #{$area-title-font-size};
    --bs-area-border-color:  #{$area-border-color};
    --bs-area-padding-x:     #{$area-padding-x};
    --bs-area-padding-y:     #{$area-padding-y};

    &-brand {
        color: var(--bs-navbar-brand-color);
    }

    &-area {
        padding:       var(--bs-area-padding-y) var(--bs-area-padding-x);
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-area-border-color) !important;

        &-title {
            color:           var(--bs-area-title-color);
            font-size:       var(--bs-area-font-size);
            padding-top:     var(--bs-navbar-brand-padding-y);
            padding-bottom:  var(--bs-navbar-brand-padding-y);
            margin-right:    var(--bs-navbar-brand-margin-end);
            text-decoration: none;
            white-space:     nowrap;
        }
    }
}