:root {
    --bs-body-bg:       $dark !important;
    --bs-body-color:    $white !important;
    --bs-border-radius: 0 !important;
}

[data-bs-theme=dark] {
    --bs-border-color: $border-color !important;
}