<nav class="navbar navbar-area navbar-expand-sm navbar-toggleable-sm bg-sunset border-bottom box-shadow">
    <div class="container-lg">
        <span class="navbar-area-title">Area @Title</span>
    </div>
</nav>

@code {
    public string Title { get; set; } = String.Empty;
}