<ul class="navbar-nav ms-auto">
    <li class="nav-item"><NavLink class="nav-link" href="/blog">Blog</NavLink></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" href="#">Development</a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><NavLink class="dropdown-item" href="/development/detection">Detection</NavLink></li>
            <li><NavLink class="dropdown-item" href="/development/responsive">Responsive</NavLink></li>
            <li><NavLink class="dropdown-item" href="/development/system">System</NavLink></li>
            <li><NavLink class="dropdown-item" href="/development/federation">Federation</NavLink></li>
            <li><NavLink class="dropdown-item" href="/development/analytics">Analytics</NavLink></li>
            <li><NavLink class="dropdown-item" href="/development/blazor">Blazor</NavLink></li>
            <li><NavLink class="dropdown-item" href="/development/tabler">Tabler</NavLink></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" href="#">Fonts</a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><NavLink class="dropdown-item" href="/fonts/visawakom">Visawakom Mono</NavLink></li>
        </ul>
    </li>
    <li class="nav-item"><NavLink class="nav-link" href="/engineering">Engineering</NavLink></li>
    <li class="nav-item"><NavLink class="nav-link" href="/architecture">Architecture</NavLink></li>
    <li class="nav-item"><NavLink class="nav-link" href="/about">About</NavLink></li>
</ul>

@code {
    
}