<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-night border-bottom box-shadow">
        <a class="navbar-brand" asp-area="" asp-page="/Index" title="Wangkanai innovation logo">
            <img src="/images/nav/wangkanai-logo.svg" alt="wangkanai" width="32" height="34" class="d-inline-block align-text-top me-2">
            wangkanai
        </a>
        <button title="Navigation menu" class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse @NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <MainNav/>
        </div>
    </nav>
</header>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}