<footer class="border-top footer text-muted pt-3">
    &copy; 2008-2023 - Wangkanai - <a asp-area="" asp-page="/Terms">Terms</a> | <a asp-area="" asp-page="/Privacy">Privacy Policy</a>
</footer>

@code {

}