<nav class="navbar navbar-area navbar-expand-sm navbar-toggleable-sm bg-sunset border-bottom box-shadow">
    <span class="navbar-area-title">@Title</span>
</nav>

@code {
    public string Title { get; set; } = String.Empty;
}