@using Wangkanai.Tabler.Demo.Client.Shared.Navbar

<div class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl">
        <NavbarMenu/>
        <NavbarSearch/>
      </div>
    </div>
  </div>
</div>

@code {

}