<nav class="navbar navbar-dark bg-dark bg-admin">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="Admin" asp-page="/Index">Admin</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Admin" asp-controller="Report" asp-action="Index">Report</a>
            </li>
        </ul>
        <span class="navbar-text">Areas/Admin/ResponsiveWebs/Shared/_AdminNavigation.mobile.cshtml</span>
    </div>
</nav>