@page "/Empty"

<div class="container-xl">
  <!-- Wangkanai.Responsive.WebmasterPage title -->
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          Empty page
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container-xl">
    <!-- Content here -->
  </div>
</div>

@code {

}