@page "/"
@using Wangkanai.Tabler.Demo.Client.Pages.Home

@layout DashboardLayout

<PageTitle>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</PageTitle>

<div class="container-xl">
  <div class="row row-deck row-cards">
    <div class="col-sm-6 col-lg-3"><HomeSales/></div>
    <div class="col-sm-6 col-lg-3"><HomeRevenue/></div>
    <div class="col-sm-6 col-lg-3"><HomeClients/></div>
    <div class="col-sm-6 col-lg-3"><HomeUsers/></div>
    <div class="col-12"><HomeAvatar/></div>
    <div class="col-lg-6"><HomeTraffic/></div>
    <div class="col-lg-6"><HomeLocation/></div>
    <div class="col-lg-6">
      <div class="row row-cards">
        <div class="col-12"><HomeStorage/></div>
        <div class="col-12"><HomeTwitter/></div>
      </div>
    </div>
    <div class="col-lg-6"><HomeDevelopment/></div>
    <div class="col-12"><HomeIcons/></div>
    <div class="col-md-12 col-lg-8"><HomeMostVisitedPages/></div>
    <div class="col-md-6 col-lg-4"><HomeSponsor/></div>
    <div class="col-md-6 col-lg-4"><HomeSocialMediaTraffic/></div>
    <div class="col-md-12 col-lg-8"><HomeTasks/></div>
    <div class="col-12"><HomeInvoices/></div>
  </div>
</div>

<IndexScripts/>

@code{

}