<footer class="border-top footer text-muted">
    <div class="container-fluid row">
        <div class="col-12 col-sm-6">&copy; 2020 - Copyrights, all rights reserved.</div>
        <div class="col-12 col-sm-6">Sarin Na Wangkanai. - <a asp-area="" asp-page="/Privacy">Privacy</a></div>
    </div>
</footer>