<div class="row row-cards">
  <div class="col-sm-6 col-lg-3">
    <HomeAvatarSales/>
  </div>
  <div class="col-sm-6 col-lg-3">
    <HomeAvatarOrders/>
  </div>
  <div class="col-sm-6 col-lg-3">
    <HomeAvatarShares/>
  </div>
  <div class="col-sm-6 col-lg-3">
    <HomeAvatarLikes/>
  </div>
</div>

@code {

}