<div class="card">
    <div class="card-header border-0">
        <div class="card-title">Development activity</div>
    </div>
    <div class="position-relative">
        <div class="position-absolute top-0 left-0 px-3 mt-1 w-75">
            <div class="row g-2">
                <div class="col-auto">
                    <div class="chart-sparkline chart-sparkline-square" id="sparkline-activity"></div>
                </div>
                <div class="col">
                    <div>Today's Earning: $4,262.40</div>
                    <div class="text-muted">
                        <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline text-green" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="3 17 9 11 13 15 21 7"/><polyline points="14 7 21 7 21 14"/></svg>
                        +5% more than yesterday
                    </div>
                </div>
            </div>
        </div>
        <div id="chart-development-activity"></div>
    </div>
    <div class="card-table table-responsive">
        <table class="table table-vcenter">
            <thead>
            <tr>
                <th>User</th>
                <th>Commit</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="w-1">
                    <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000m.jpg)"></span>
                </td>
                <td class="td-truncate">
                    <div class="text-truncate">
                        Fix dart Sass compatibility (#29755)
                    </div>
                </td>
                <td class="text-nowrap text-muted">28 Nov 2019</td>
            </tr>
            <tr>
                <td class="w-1">
                    <span class="avatar avatar-sm">JL</span>
                </td>
                <td class="td-truncate">
                    <div class="text-truncate">
                        Change deprecated html tags to text decoration classes (#29604)
                    </div>
                </td>
                <td class="text-nowrap text-muted">27 Nov 2019</td>
            </tr>
            <tr>
                <td class="w-1">
                    <span class="avatar avatar-sm" style="background-image: url(./static/avatars/002m.jpg)"></span>
                </td>
                <td class="td-truncate">
                    <div class="text-truncate">
                        justify-content:between ⇒ justify-content:space-between (#29734)
                    </div>
                </td>
                <td class="text-nowrap text-muted">26 Nov 2019</td>
            </tr>
            <tr>
                <td class="w-1">
                    <span class="avatar avatar-sm" style="background-image: url(./static/avatars/003m.jpg)"></span>
                </td>
                <td class="td-truncate">
                    <div class="text-truncate">
                        Update change-version.js (#29736)
                    </div>
                </td>
                <td class="text-nowrap text-muted">26 Nov 2019</td>
            </tr>
            <tr>
                <td class="w-1">
                    <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000f.jpg)"></span>
                </td>
                <td class="td-truncate">
                    <div class="text-truncate">
                        Regenerate package-lock.json (#29730)
                    </div>
                </td>
                <td class="text-nowrap text-muted">25 Nov 2019</td>
            </tr>
            <tr>
                <td class="w-1">
                    <span class="avatar avatar-sm" style="background-image: url(./static/avatars/001f.jpg)"></span>
                </td>
                <td class="td-truncate">
                    <div class="text-truncate">
                        Some minor text tweaks
                    </div>
                </td>
                <td class="text-nowrap text-muted">24 Nov 2019</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@code{

}