
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Locations</h3>
            <div class="ratio ratio-21x9">
                <div>
                    <div id="map-world" class="w-100 h-100"></div>
                </div>
            </div>
        </div>
    </div>
@code {
    
}