
 <div class="card">
        <div class="card-body">
            <h3 class="card-title">Traffic summary</h3>
            <div id="chart-mentions" class="chart-lg"></div>
        </div>
    </div>
@code {
    
}