@inherits LayoutComponentBase

<div class="page">
    <HeaderDisplay/>
    <NavbarDisplay/>
    <div class="page-wrapper">
        @Body
        <FooterDisplay/>
    </div>
</div>
<ModelReportDisplay/>