<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row">
            <div class="col-sm">&copy; 2020 - Responsive Wangkanai.Responsive.PageApp</div>
            <div class="col-sm text-sm-right text-dark">Wangkanai.Responsive.PageApps/Shared/_Footer.mobile.cshtml</div>
        </div>
    </div>
</footer>