@{
    Layout = "_LayoutMain";
}
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
        <div class="alert alert-info">Wangkanai.Responsive.PageApps/Shared/_Layout.tablet.chhtml</div>
    </main>
</div>