<div class="card card-sm">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-auto">
        <span class="bg-green text-white avatar">
          <!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="6" cy="19" r="2"/><circle cx="17" cy="19" r="2"/><path d="M17 17h-11v-14h-2"/><path d="M6 5l14 1l-1 7h-13"/>
          </svg>
        </span>
      </div>
      <div class="col">
        <div class="font-weight-medium">
          78 Orders
        </div>
        <div class="text-muted">
          32 shipped
        </div>
      </div>
    </div>
  </div>
</div>

@code {

}