<a class="nav-link dropdown-toggle @ShowCssClass" href="#" @onclick="OnToggle" @onfocusout="OnToggle" role="button" aria-expanded="@NavDropdown">
    <span class="nav-link-icon d-md-none d-lg-inline-block">
        <!-- Download SVG icon from http://tabler-icons.io/i/layout-2 -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="4" width="6" height="5" rx="2"/><rect x="4" y="13" width="6" height="7" rx="2"/><rect x="14" y="4" width="6" height="7" rx="2"/><rect x="14" y="15" width="6" height="5" rx="2"/></svg>
    </span>
    <span class="nav-link-title">
        Layout
    </span>
</a>
<div class="dropdown-menu @ShowCssClass" @onpointerout="OnToggle" data-bs-popper="@DataBsPopper">
    <div class="dropdown-menu-columns">
        <div class="dropdown-menu-column">
            <a class="dropdown-item" href="./layout-horizontal.html">
                Horizontal
            </a>
            <a class="dropdown-item" href="./layout-boxed.html">
                Boxed
                <span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
            </a>
            <a class="dropdown-item" href="./layout-vertical.html">
                Vertical
            </a>
            <a class="dropdown-item" href="./layout-vertical-transparent.html">
                Vertical transparent
            </a>
            <a class="dropdown-item" href="./layout-vertical-right.html">
                Right vertical
            </a>
            <a class="dropdown-item" href="./layout-condensed.html">
                Condensed
            </a>
            <a class="dropdown-item" href="./layout-combo.html">
                Combined
            </a>
        </div>
        <div class="dropdown-menu-column">
            <a class="dropdown-item" href="./layout-navbar-dark.html">
                Navbar dark
            </a>
            <a class="dropdown-item" href="./layout-navbar-sticky.html">
                Navbar sticky
            </a>
            <a class="dropdown-item" href="./layout-navbar-overlap.html">
                Navbar overlap
            </a>
            <a class="dropdown-item" href="./layout-rtl.html">
                RTL mode
            </a>
            <a class="dropdown-item" href="./layout-fluid.html">
                Fluid
            </a>
            <a class="dropdown-item" href="./layout-fluid-vertical.html">
                Fluid vertical
            </a>
        </div>
    </div>
</div>

@code {
    private bool NavDropdown { get; set; } = false;
    private string ShowCssClass => NavDropdown ? "show" : "";
    private string DataBsPopper => NavDropdown ? "static" : "";
    private void OnToggle() => NavDropdown = !NavDropdown;
}