[*]

resharper_int_align_assignments = true
# resharper_int_align_binary_expressions = false
# resharper_int_align_comments = false
# resharper_int_align_fields = false
# resharper_int_align_invocations = false
# resharper_int_align_methods = false
# resharper_int_align_nested_ternary = false
# resharper_int_align_parameters = false
# resharper_int_align_properties = false
# resharper_int_align_property_patterns = true
# resharper_int_align_switch_expressions = false
# resharper_int_align_switch_sections = false
# resharper_int_align_variables = false
# resharper_int_align_fix_in_adjacent = false
# resharper_int_align = false
# resharper_align_linq_query = false
# resharper_align_multiple_declaration = false
# resharper_align_multiline_argument = false
# resharper_align_multiline_array_and_object_initializer = false
# resharper_align_multiline_calls_chain = false
# resharper_align_multiline_expression = false
# resharper_align_multiline_extends_list = false
# resharper_align_multiline_for_stmt = false
# resharper_align_multiline_implements_list = false
# resharper_align_multiline_list_pattern = false
# resharper_align_multiline_parameter = false
# resharper_align_multiline_property = false
# resharper_align_multiline_property_pattern = false
# resharper_align_multiline_switch_expression = false
# resharper_align_multline_type_parameter_constrains = true
# resharper_align_multline_type_parameter_list = false