<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    <p>Views/Shared/_Layout.tablet.cshtml</p>
    @RenderBody()
</div>
    <footer>&copy; Default</footer>
</body>
</html>
