<div class="card">
  <div class="card-body">
    <h3 class="card-title">Node.js Version</h3>
    <p class="card-subtitle">The version of Node.js that is used in the Build Step and for Serverless Functions. A new Deployment is required for your changes to take effect.</p>
    <select class="form-select">
      <option>14.x</option>
      <option>12.x</option>
    </select>
  </div>
  <div class="card-footer">
    Learn more about <a href="#">Node.js Version</a>
  </div>
</div>

@code {

}