<label class="form-label">Validation States </label>
<input type="text" class="form-control is-valid mb-2" placeholder="Valid State..">
<input type="text" class="form-control is-invalid" placeholder="Invalid State..">
<div class="invalid-feedback">Invalid feedback</div>

@code {

}