<div class="mb-3">
  <label class="form-label">Static</label>
  <div class="form-control-plaintext">Input value</div>
</div>
<div class="mb-3">
  <label class="form-label">Text</label>
  <input type="text" class="form-control" name="example-text-input" placeholder="Input placeholder">
</div>
<div class="mb-3">
  <label class="form-label">Password</label>
  <input type="text" class="form-control" name="example-password-input" placeholder="Input placeholder">
</div>
<div class="mb-3">
  <label class="form-label">Disabled</label>
  <input type="text" class="form-control" name="example-disabled-input" placeholder="Disabled..."
         value="Well, she turned me into a newt." disabled>
</div>
<div class="mb-3">
  <label class="form-label">Readonly</label>
  <input type="text" class="form-control" name="example-disabled-input" placeholder="Readonly..."
         value="Well, how'd you become king, then?" readonly>
</div>
<div class="mb-3">
  <label class="form-label required">Required</label>
  <input type="text" class="form-control" name="example-required-input" placeholder="Required...">
</div>
<div class="mb-3">
  <label class="form-label">Textarea <span class="form-label-description">56/100</span></label>
  <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Content..">Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed! We shall say 'Ni' again to you, if you do not appease us. I'm not a witch. I'm not a witch. Camelot!</textarea>
</div>
<div class="mb-3">
  <div class="form-label">Select</div>
  <select class="form-select">
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>
<div class="mb-3">
  <div class="form-label">Select multiple</div>
  <select class="form-select" multiple>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>
<div class="mb-3">
  <label class="form-label">Input group</label>
  <div class="input-group mb-2">
    <input type="text" class="form-control" placeholder="Search for…">
    <button class="btn" type="button">Go!</button>
  </div>
  <div class="input-group">
    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">
        Action
      </a>
      <a class="dropdown-item" href="#">
        Another action
      </a>
    </div>
    <input type="text" class="form-control" aria-label="Text input with dropdown button">
  </div>
</div>
<div class="mb-3">
  <label class="form-label">Input group buttons</label>
  <div class="input-group">
    <input type="text" class="form-control">
    <button type="button" class="btn">Action</button>
    <button data-bs-toggle="dropdown" type="button" class="btn dropdown-toggle dropdown-toggle-split"></button>
    <div class="dropdown-menu dropdown-menu-end">
      <a class="dropdown-item" href="#">
        Action
      </a>
      <a class="dropdown-item" href="#">
        Another action
      </a>
    </div>
  </div>
</div>
<div class="mb-3">
  <label class="form-label">Icon input</label>
  <div class="input-icon mb-3">
    <input type="text" value="" class="form-control" placeholder="Search…">
    <span class="input-icon-addon">
      <!-- Download SVG icon from http://tabler-icons.io/i/search -->
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7"/><line x1="21" y1="21" x2="15" y2="15"/>
      </svg>
    </span>
  </div>
  <div class="input-icon mb-3">
    <span class="input-icon-addon">
      <!-- Download SVG icon from http://tabler-icons.io/i/user -->
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="7" r="4"/><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"/>
      </svg>
    </span>
    <input type="text" value="" class="form-control" placeholder="Username">
  </div>
</div>
<div class="mb-3">
  <label class="form-label">Loader input</label>
  <div class="input-icon mb-3">
    <input type="text" value="" class="form-control" placeholder="Loading…">
    <span class="input-icon-addon">
      <div class="spinner-border spinner-border-sm text-muted" role="status"></div>
    </span>
  </div>
  <div class="input-icon mb-3">
    <span class="input-icon-addon">
      <div class="spinner-border spinner-border-sm text-muted" role="status"></div>
    </span>
    <input type="text" value="" class="form-control" placeholder="Loading…">
  </div>
</div>
<div class="mb-3">
  <label class="form-label">Separated inputs</label>
  <div class="row g-2">
    <div class="col">
      <input type="text" class="form-control" placeholder="Search for…">
    </div>
    <div class="col-auto">
      <a href="#" class="btn btn-white btn-icon" aria-label="Button">
        <!-- Download SVG icon from http://tabler-icons.io/i/search -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7"/><line x1="21" y1="21" x2="15" y2="15"/>
        </svg>
      </a>
    </div>
  </div>
</div>
<div class="mb-3">
  <label class="form-label">Input with help icon</label>
  <div class="row g-2">
    <div class="col">
      <input type="text" class="form-control" placeholder="Search for…">
    </div>
    <div class="col-auto align-self-center">
      <span class="form-help" data-bs-toggle="popover" data-bs-placement="top"
            data-bs-content="<p>ZIP Code must be US or CDN format. You can use an extended ZIP+4 code to determine address more accurately.</p>
                                  <p class='mb-0'><a href='#'>USP ZIP codes lookup tools</a></p>"
            data-bs-html="true">
        ?
      </span>
    </div>
  </div>
</div>

@code {

}