@page
@model Detection.Pages.IndexModel
@inject Wangkanai.Detection.Services.IDetectionService Detection

@{
    ViewData["Title"] = "Detection";
}

<div class="text-center">
    <div class="alert alert-primary">@Detection.UserAgent</div>

    <h2>@Detection.Browser.Type @Detection.Browser.Version.Major on @Detection.Platform.OperatingSystem</h2>
</div>