<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>@ViewData["Title"] - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <base href="/"/>
    <link href="./lib/tabler/dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="./lib/tabler/dist/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="./lib/tabler/dist/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="./lib/tabler/dist/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="./lib/tabler/dist/css/demo.min.css" rel="stylesheet"/>
    <link href="./lib/icons/iconfont/tabler-icons.css" rel="stylesheet"/>
    <link href="_content/Wangkanai.Tabler/dist/tabler.css" rel="stylesheet"/>
    <link href="Wangkanai.Tabler.Demo.Client.Styles.css" rel="stylesheet"/>
    <link href="manifest.json" rel="manifest"/>
    <link href="icon-512.png" rel="apple-touch-icon" sizes="512x512"/>
    <link href="icon-192.png" rel="apple-touch-icon" sizes="192x192"/>
    <component type="typeof(HeadOutlet)" render-mode="WebAssemblyPrerendered"/>
</head>
<body class="theme-dark">
<div id="app">
    @RenderBody()
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a class="reload" href="">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<script src="_content/Wangkanai.Tabler/body-class-changer.js"></script>
<script src="_framework/blazor.webassembly.js"></script>
<script>navigator.serviceWorker.register('service-worker.js');</script>
</body>
</html>