@page "/Icons"

<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          Icons
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-12">
        <IconTitle/>
      </div>
      <div class="col-12">
        <IconInterface/>
      </div>
      <div class="col-12">
        <IconBrand/>
      </div>
    </div>
  </div>
</div>

@code {

}