@model Wangkanai.Detection.IDeviceResolver

@{
    ViewData["Title"] = "Device";
}

<h4>UserAgent</h4>
<code>@Model.UserAgent</code>

<h4>Device</h4>
<table>
    <tr>
        <th>DeviceType</th>
        <td>@Model.Device.Type.ToString()</td>
    </tr>
    <tr>
        <th>Crawler</th>
        <td>@Model.Device.Crawler</td>
    </tr>
</table>

<device include="mobile">
    <h3>Detection on Home give mobile result</h3>
</device>