@model Wangkanai.Detection.Abstractions.IDevice

@{
    ViewData["Title"] = "Device";
}

<h4>Device</h4>
<table>
    <tr>
        <th>DeviceType</th>
        <td>@Model.Type.ToString()</td>
    </tr>
    <tr>
        <th>IsCrawler</th>
        <td>@Model.IsCrawler</td>
    </tr>
</table>