<nav class="container-fluid bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
    <div class="bd-navbar-toggle">
        <button class="navbar-toggler p-2" type="button" @onclick="ToggleNavMenu" aria-label="Toggle docs navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
            </svg>
            <span class="d-none fs-6 pe-1">Browse</span>
        </button>
    </div>

    <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Bootstrap">
        <svg width="32" height="32" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <path d="M481.882,176.891c-9.728,60.986 -40.773,116.542 -87.612,156.786c-46.839,40.243 -106.433,62.565 -168.182,62.993c-12.508,0.48 -25.032,-0.28 -37.389,-2.269c-53.061,-9.017 -92.968,-54.257 -95.294,-108.028c0.249,-29.2 11.982,-57.16 32.644,-77.795c42.729,-42.671 112.796,-43.166 156.123,-1.103c20.952,20.34 33.079,48.131 33.741,77.325c0.468,18.445 -7.522,34.625 -23.943,35.092c-17.545,-0 -25.769,-12.52 -25.769,-29.392l-0,-46.883c0.013,-15.678 -12.814,-28.618 -28.491,-28.743l-39.299,-0c-23.203,-0.161 -44.961,11.498 -57.679,30.906c-7.303,11.142 -11.194,24.179 -11.194,37.501c-0,33.529 24.647,62.363 57.767,67.58c22.921,3.607 46.169,-4.686 61.633,-21.985l1.374,-2.05l1.375,2.275c9.591,13.03 25.104,20.418 41.265,19.652c29.339,-2.132 51.939,-27.636 50.526,-57.019c0.138,-12.2 -1.229,-24.371 -4.071,-36.237c-7.288,-33.521 -26.726,-63.157 -54.566,-83.193c-57.372,-41.29 -137.582,-32.504 -184.655,20.226c-22.838,25.583 -35.408,58.741 -35.269,93.034c0.438,36.361 14.967,71.17 40.508,97.054c25.538,25.883 60.15,40.873 96.5,41.792c36.349,0.92 10.291,0.936 21.894,0.669c56.394,-0.356 111.531,-16.808 158.9,-47.411c0.674,-0.468 1.348,0.468 0.9,1.15c-46.657,50.262 -113.184,77.47 -181.69,74.307c-44.719,0.812 -87.877,-16.711 -119.373,-48.467c-31.499,-31.757 -48.671,-75.059 -47.5,-119.773c0.022,-53.471 25.313,-103.903 68.154,-135.9c28.412,-20.923 62.762,-32.264 98.047,-32.369l52.744,0c41.639,-0.031 81.399,-17.587 109.474,-48.338c0.293,-0.326 0.683,-0.548 1.113,-0.636c0.877,-0.19 1.783,0.206 2.241,0.978c0.226,0.379 0.327,0.818 0.291,1.259c-2.236,23.706 -10.129,46.533 -23.014,66.557c-0.389,0.709 -0.323,1.586 0.17,2.228c0.49,0.641 1.315,0.935 2.099,0.747c49.338,-11.145 90.54,-45.123 110.876,-91.435c0.256,-0.408 0.606,-0.747 1.025,-0.988c0.854,-0.482 1.902,-0.482 2.756,0c0.419,0.239 0.771,0.578 1.023,0.988c20.668,39.593 27.642,84.941 19.827,128.915Zm-280.093,66.141c-0.003,-0 -0.005,-0 -0.008,-0c-22.505,-0 -41.024,18.518 -41.024,41.023c0,2.689 0.265,5.372 0.79,8.01c3.231,16.242 15.992,29.005 32.234,32.239c2.635,0.524 5.315,0.787 8.002,0.787c22.506,0 41.025,-18.519 41.025,-41.025c0,-0.003 0,-0.006 0,-0.009l0,-38.302c-0.075,-1.51 -1.297,-2.732 -2.807,-2.807l-38.212,0.084Z" style="fill:#702af7;fill-rule:nonzero;"/>
        </svg>
         Wangkanai Blazor
    </a>

    <div class="d-flex">
        <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
              <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
        </button>
    </div>

    <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel" data-bs-scroll="true">
        <div class="offcanvas-header px-4 pb-0">
            <h5 class="offcanvas-title text-white" id="bdNavbarOffcanvasLabel">Wangkanai Blazor</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
        </div>

        <div class="offcanvas-body p-4 pt-0 p-lg-0">
            <hr class="d-lg-none text-white-50">
            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
                <li class="nav-item col-6 col-lg-auto">
                    <a class="nav-link py-2 px-0 px-lg-2 active" aria-current="true" href="/docs/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Docs</a>
                </li>
            </ul>

            <hr class="d-lg-none text-white-50">

            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                <li class="nav-item col-6 col-lg-auto">
                    <a class="nav-link py-2 px-0 px-lg-2" href="https://github.com/wangkanai/wangkanai/tree/main/Blazor" target="_blank" rel="noopener">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="navbar-nav-svg" viewBox="0 0 512 499.36" role="img"><title>GitHub</title><path fill="currentColor" fill-rule="evenodd" d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"></path></svg>
                        <small class="d-lg-none ms-2">GitHub</small>
                    </a>
                </li>
                <li class="nav-item col-6 col-lg-auto">
                    <a class="nav-link py-2 px-0 px-lg-2" href="https://opencollective.com/wangkanai" target="_blank" rel="noopener">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" fill-rule="evenodd" class="navbar-nav-svg" viewBox="0 0 40 41" role="img"><title>Open Collective</title><path fill-opacity=".4" d="M32.8 21c0 2.4-.8 4.9-2 6.9l5.1 5.1c2.5-3.4 4.1-7.6 4.1-12 0-4.6-1.6-8.8-4-12.2L30.7 14c1.2 2 2 4.3 2 7z"></path><path d="M20 33.7a12.8 12.8 0 0 1 0-25.6c2.6 0 5 .7 7 2.1L32 5a20 20 0 1 0 .1 31.9l-5-5.2a13 13 0 0 1-7 2z"></path></svg>
                        <small class="d-lg-none ms-2">Open Collective</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code{

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}