@inherits LayoutComponentBase

<header class="navbar navbar-expand-lg navbar-dark bd-navbar sticky-top">
    <HeaderDisplay/>
</header>

<div class="page">
    <div class="sidebar">
        <SidebarDisplay/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
