<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Boxed">
                <span class="oi oi-moon" aria-hidden="true"></span> Boxed
            </NavLink>
        </div>
    </nav>
</div>

@code {


}