<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-night border-bottom box-shadow">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index" title="Wangkanai innovation logo">
                <img src="/images/nav/wangkanai-logo.svg" alt="wangkanai" width="30" height="30" class="d-inline-block align-text-top">
                wangkanai
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <partial name="_Navigation"/>
            </div>
        </div>
    </nav>
</header>