<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-page="/blog">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-page="/development">Development</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-page="/design">Design</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-page="/engineering">Engineering</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-page="/architecture">Architecture</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-page="/about">About</a>
    </li>
</ul>