<ul class="navbar-nav ms-auto">
    <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-page="/blog/index">Blog</a></li>
    <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-page="/development/index">Development</a></li>
    <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-page="/design/index">Design</a></li>
    <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-page="/engineering/index">Engineering</a></li>
    <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-page="/architecture/index">Architecture</a></li>
    <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-page="/about/index">About</a></li>
</ul>