<nav class="navbar bg-warning-subtle border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="#">Administration</a>
        <span class="navbar-text text-warning">/Admin/Shared/_Navigation.mobile.cshtml</span>
    </div>
</nav>

